@font-face { font-family: "AkkuratLight"; src: url(https://www.drive-now.com/assets/fonts/AkkuratLight.eot); src: url(https://www.drive-now.com/assets/fonts/AkkuratLight.eot?#iefix) format("embedded-opentype"),url(https://www.drive-now.com/assets/fonts/AkkuratLight.woff2) format("woff2"),url(https://www.drive-now.com/assets/fonts/AkkuratLight.woff) format("woff"),url(https://www.drive-now.com/assets/fonts/AkkuratLight.ttf) format("truetype"); font-weight: 400; font-style: normal; }
html { font-size: 62.5%; }
@media (max-width: 36.19em) {
  html { font-size: (62.5% / 1.5); }
}
body {
  font-size: 1.5rem;
  color: #000000;
  font-family: "AkkuratLight",Arial,sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
h1 { font-size: 5rem; font-weight: normal; }
@media (max-width: 36.19em) {
  h1 { font-size: 2rem; }
}
ul { margin: 0; padding: 0; }
.dn-wrapper {
  padding: 40px 80px 20px;
}
@media (max-width: 36.19em) {
  .dn-wrapper {
    padding: 20px 10px;
  }
}
.dn-header .dn-credentials {
  align-items: center;
  display: flex;
  float: right;
}
.dn-header .dn-credentials img {
  margin-left: 10px;
  width: 90px;
}
@media (max-width: 36.19em) {
  .dn-header .dn-logo-image {
    width: 100px;
  }
  .dn-header .dn-credentials img {
    width: 50px;
  }
}
.dn-stage {
  background-image: url("https://content.drive-now.com/sites/default/files/images/drivenow_lisbon_bmw_1series_parking_2.jpg");
  background-position: bottom;
  background-size: cover;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 50rem 0 3rem 0;
}
@media (max-width: 36.19em) {
  .dn-stage {
    padding: 20rem 0 1rem 0;
  }
}
.dn-job-description {
  font-size: 2rem; 
}
@media (max-width: 36.19em) {
  .dn-job-description {
    font-size: 1.2rem; 
  }
}
.dn-job-container {
  display: flex;
}
.dn-job-container ul {
  margin-left: 2rem;
}
.dn-job-container ul li {
  margin-top: 2rem;
}
@media (max-width: 36.19em) {
  .dn-job-container {
    display: block;
  }
}
.dn-job-tasks {
  flex-grow: 1;
}
.dn-job-tasks h2 {
  background-image: url("https://content.drive-now.com/sites/default/files/filefield_paths/icon_carsharing_infoteaser_registration.svg");
  background-repeat: no-repeat;
  background-size: auto 5rem;
  color: #007FA3;
  padding: 2rem 5.5rem 0;
}
.dn-task-info {
  color: #7E9B21;
  display: flex;
  justify-content: space-between;
  margin: 4rem 0;
}
.dn-task-info .dn-info-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dn-task-info img {
  height: 12rem;
}
@media (max-width: 36.19em) {
  .dn-task-info {
    display: block;
  }
  .dn-task-info .dn-info-item {
    flex-direction: row;
    justify-content: flex-start;
  }
  .dn-task-info .dn-info-item img {
    flex-basis: 40%;
    height: 7rem;
  }
}
.dn-job-profile {
  background-color: #007FA3;
  color: #FFFFFF;
  display: flex;
  flex-basis: 30%;
  flex-direction: column;
  justify-content: space-between;
  min-width: 30%;
  padding: 20px;
}
.dn-job-profile .footer-link {
  margin-top: 20px;
}
.dn-job-profile a {
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
}
.dn-job-profile a:visited {
  color: #FFFFFF;
}
.LG-IconButton { display: none; }